<div class="page-container">
  <div class="text-container">
    <% if Time.now.sunday? %>
      <h1 class="text">NO</h1>
    <% elsif Time.now.hour > 21 || Time.now.hour < 6 %>
      <h1 class="text">MAYBE</h1>
    <% else %>
      <h1 class="text">YES</h1>
    <% end %>
  </div>
  <% if @distance %>
    <div class="distance-container">
      <h2 class="distance">You are <%= @distance %> miles away from your nearest Chick-Fil-A</h2>
    </div>
  <% end %>
</div>
